---
import Layout from '../layouts/Layout.astro';
import Clima from '../components/Clima.astro';
---

<Layout title="Weather app">
	<main>
		<Clima>

		</Clima>

	</main>
</Layout>

<style>

</style>
