---

---

<script>
	let myDate = new Date();
	let hours = myDate.getHours();
	let minutes = myDate.getMinutes();
	document.getElementById("Hora").innerHTML = `${hours}:${minutes}`;
</script>

<script>
	const daysOfWeek = ["sábado", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Domingo"];
	const date = new Date();
	const dayName = daysOfWeek[date.getDay()];
	document.getElementById("Fecha").innerHTML = `${dayName}, ${date.toLocaleDateString()}`;
</script>

<section class="detalles">
	
	<h1 id="Hora">1000</h1>

	<p id="Fecha"></p>
	<h2 class="g">Ciudad</h2>
	
</section>

<style>
	.detalles {
		background: url("/public/paisaje.jpg") no-repeat fixed;
		width: 60%;
		height: 400px;
		margin: 0;
	}

	.detalles h1 {
		font-size: 50px;
		display: flex;
		padding-top: 60px;
		padding-left: 20px;
	}

	.detalles p {
		display: flex;
		
		padding-left: 20px;
	}

	.g {
		display: flex;
		align-items:flex-end;
  		justify-content: flex-end;
		padding-right: 20px;
	}
</style>
