---
interface Props {
	dia: string;
	img?: string;
	grados: string;
}

const { dia, img, grados } = Astro.props;
---

<div class="Carta">
    <h2>{dia}</h2>
    <img src={img}>
    <p>{grados}</p>
</div>


<style>
    .Carta {
        position: relative;
        text-align: center;
    }

    .Carta h2 {
        font-size: 1rem;
        text-align: center;
    }
    .Carta img {
        height: 50px; 
		width:50px;
        margin-top: 5px;
    }
    .Carta p {
        font-size: 2rem;
        text-align: center;
    }
</style>
